---
import ShellLayout from "../layouts/ShellLayout.astro";
import { EditorZone } from "@frontendos/zone-editor";
---

<ShellLayout title="FrontendOS — Editor">
  <div class="h-full">
    <EditorZone client:load />
  </div>
</ShellLayout>
